@use 'sass:math';

// Підключення міксинів ===========================================================================================================================================================================================================================================================================
@import '@/assets/mixins.scss';

// Підключення шрифтів ===========================================================================================================================================================================================================================================================================
//&display=swap - додати при підключенні через плагін

// За замовчуванням шрифт ==============================================================================================================================================================================================================================================================================
$fontFamily: '';
$fontSize: toRem(18); // де 14(px) - розмір шрифту за замовчуванням з макету

// Основні кольори
$mainColor: #1d0e0b; // Колір шрифту за замовчуванням
body {
    background-color: #fbeccd;
}

// Палітра кольорів

// Налаштування адаптивної сітки ===============================================================================================================================================================================================================================================================================================

// Мінімальна ширина сторінки
$minWidth: 320;
// Ширина полотна (макету)
$maxWidth: 1440;
// Ширина обмежуючого контейнера (0 = немає обмеження)
$maxWidthContainer: 1240;
// Загальний відступ у контейнера
// (30 = по 15px ліворуч і праворуч, 0 = немає відступу)
$containerPadding: 15;

// Ширина спрацьовування першого брейкпоінту
$containerWidth: $maxWidthContainer + $containerPadding;

// Брейк-поїнти
$pc: em($containerWidth); // ПК, ноутбуки, деякі планшети у горизонтальному положенні
$tablet: em(991.98); // Планшети, деякі телефони в горизонтальному положенні
$mobile: em(767.98); // Телефони L
$mobileSmall: em(479.98); // Телефони S

// .wrapper {
//     min-height: 100%;
//     display: flex;
//     flex-direction: column;
//     overflow: hidden;
//     @supports (overflow: clip) {
//         overflow: clip;
//     }
//     // Притискаємо footer
//     > main {
//         flex: 1 1 auto;
//     }
//     // Фікс для слайдерів
//     > * {
//         min-width: 0;
//     }
// }

[class*='__container'] {
    max-width: $containerWidth + px;
    margin: 0 auto;
    padding: 0 $containerPadding + px;
}

[class*='-ibg'] {
    position: relative;
    img {
        position: absolute;
        width: 100%;
        height: 100%;
        top: 0;
        left: 0;
        object-fit: cover;
    }
}
[class*='-ibg--contain'] {
    img {
        object-fit: contain;
    }
}
[data-watcher] {
    opacity: 0;
    transform: translateY(toRem(50));
    transition: opacity 0.5s ease, transform 0.5s ease;

    &.scale {
        transform: scale(0.8);
    }
    //  &.delay-1 {
    //      transition-delay: 0.2s;
    //  }
    //  &.delay-2 {
    //      transition-delay: 0.4s;
    //  }
    //  &.delay-3 {
    //      transition-delay: 0.6s;
    //  }
    //  &.delay-4 {
    //      transition-delay: 0.8s;
    //  }

    &.animate {
        transform: translateY(0);
        opacity: 1;
    }
}
